<!DOCTYPE html>
<html>
<head>
	<title>Vue demo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">



	<script>
	window.addEventListener('load', () => {
		var lo = new Vue({
	  el: '#root',
	  data: {
	    value: '',
	    message: '	',
	    equation: '',
	    cal: '',
			full: '',
			seen: "false",
			result: [ ],
			str: ''
	  },
	  methods: {
	    input: function(num) {
	      if(num == '.' && this.message.includes('.'))
	        return; // OM TALET ENDAST INNEHÅLLER "."
	      else if(this.message == '0'){ // OM TALET ÄR LIKA MED NOLL
	        this.message = num;
	        this.value = num;
					this.str += this.value;
	      }
	      else {
	        this.value += num; // VALUE BLIR == PARAMETER
	        this.message = this.value; // MESSAGE BLIR == VÄRDET AV VALUE
					this.str += this.value;

	      }
	      //this.equation += num;
	      //console.log(this.equation);
	    },
	    clear: function() { //ÅTERSTÄLLER ALLA VÄRDEN

	      this.equation = '';
	      this.message = '0';
	      this.value = '';
				this.str = '';
	    },
	    operator: function(opt) {
	      this.cal = opt; // TAR IN VILKEN OPERATOR SOM ANVÄNDS IFALL EUQAL KÖRS
				this.str += this.cal;
	      this.equation += this.value; // GÖR EQUATION == VÄRDET I VALUE
				this.equation.toString();
 				this.message = eval(this.equation) // GÖR MESSAGE == EQUATION TILL EN STRING FÖR EVAL()
				console.log(this.equation);
				console.log(this.message);
				console.log(this.value);
	      this.equation = this.message; // EQUATION == MESSAGE
	      this.equation += opt; // EQUATION VÄRDET + OPERATOR
	      this.value = ''; // ÅTERSTÄLLER VALUE


				/*

				*/
	    },
	    equal: function() {
	      if(this.equation == '') //OM EQUATION ÄR TOM SÅ KÖRS RETUNERAR FUNKTION
	        return;
	      if(this.cal != '')
	        this.equation += this.message;
	      this.message = eval(this.equation).toString();
	      console.log(eval(this.equation));
	      this.value = '';
	      this.cal = '';
	      this.equation = this.message;
				this.str = this.str += "=" + this.equation;
				this.result.push(this.str);
				//this.result.push(this.equation);
				console.log(this.str);
				this.str = "";
	    },
			squared: function(){ // Upphöjt till två. Nuvarande talet gånger sig själv.
				this.equation = this.message;
				this.message = this.equation;
				console.log(this.message);
				this.equation *= this.equation;
				this.message = this.equation;
				this.str += "x²";
				 this.value = '';

			},
			squareRoot: function(){ // Kvadratroten ur nuvarande talet.
				this.equation = this.message;
				this.message = Math.sqrt(this.equation);
				this.equation = this.message;
				this.str += "sqrt";
				 this.value = '';
		},
		toogle: function(){
			if(this.seen == "false"){
				this.seen = "true";
				console.log(this.seen);
			}else{
				this.seen = "false";
				console.log(this.seen);
			}
		},
	 }
	})
});  // window load
	</script>
</head>

<body>

	<div id="root">
	<div id="dropout" v-if="seen == 'true'">
		<p id="toggleHistory" v-on:click="toogle">=</p>
		<h1 id="memory">History</h1>
		<ul id="resultList">
			<li v-for="item in result">
				{{item}}
			</li>
		</ul>
	</div>
	<div v-else></div>
	<input id="displayNum" v-model="message">
		<p id="toggleHistory" v-on:click="toogle">=</p>
	</input>

		<div class="containerButtons">
			<div class="button" v-on:click="clear">C</div>
			<div class="button" v-on:click="squareRoot" v-if="message % 2 == 0 && message > 0">sqrt</div>
			<div v-else class="button"></div>
			<div class="button" v-on:click="squared">x²</div>
			<div class="button" v-on:click="operator('/')">/</div>
			<div class="button" v-on:click="input('7')">7</div>
			<div class="button" v-on:click="input('8')">8</div>
			<div class="button" v-on:click="input('9')">9</div>
			<div class="button" v-on:click="operator('*')">X</div>
			<div class="button" v-on:click="input('4')">4</div>
			<div class="button" v-on:click="input('5')">5</div>
			<div class="button" v-on:click="input('6')">6</div>
			<div class="button" v-on:click="operator('-')">-</div>
			<div class="button" v-on:click="input('1')">1</div>
			<div class="button" v-on:click="input('2')">2</div>
			<div class="button" v-on:click="input('3')">3</div>
			<div class="button" v-on:click="operator('+')" >+</div>
			<div class="button" v-on:click="input('0')">0</div>
			<div class="button" v-on:click="input('.')">.</div>
			<div class="resultButton" v-on:click="equal">=</div>
		</div>
	</div>

</body>
</html>
